.fa-tree-1 {
  left: 8px;
  top: 7px;
  color: white;
}

.fa-tree-2 {
  left: 16px;
  top: 12px;
}

.fa-tree-3 {
  left: 16px;
  top: 12px;
}

.button-search {
  right: 0.1px;
  top: 0.1px;
  color: gray;
  border: 90px solid gray;
}

.border-radius-20px {
  border-radius: 20px;
}

.border-radius-90px {
  border-radius: 90px;
}

.w-60 {
  width: 60%;
}

.h-35px {
  height: 35px;
}
