
$primary: #FF8A00;
$secondary: #FFB800;

$border-radius: 20px;
$border-radius-sm: 20px;
// $border-radius-lg: .3rem !default;
// $border-radius-pill: 50rem !default;



@import "./node_modules/bootstrap/scss/bootstrap";
